name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t my-docker-app .

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Push image to Docker Hub
        run: |
          docker tag my-docker-app ${{ secrets.DOCKERHUB_USERNAME }}/my-docker-app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-docker-app:latest
