name: CI/CD Pipeline to EC2

on:
  push:
    branches: [ main ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t my-docker-app .

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Push image to DockerHub
        run: |
          docker tag my-docker-app ${{ secrets.DOCKERHUB_USERNAME }}/my-docker-app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-docker-app:latest

  deploy_to_ec2:
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-docker-app:latest
            docker stop my-docker-app || true
            docker rm my-docker-app || true
            docker run -d -p 8080:80 --name my-docker-app ${{ secrets.DOCKERHUB_USERNAME }}/my-docker-app:latest

